
/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@300;700&family=Nanum+Pen+Script&display=swap');



body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
}

img.rounded {
  border-radius: 8px;
}

main h2 {
  font-size: 28px;
  font-family: cursive, georgia, serif;
  font-weight: 400;
}

main h3 {
  font-size: 22px;
  font-family: cursive, georgia, serif;
  font-weight: 400;
}

main p {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0em;
}

/* Header */

header {
  background-color: #8f6484;
  margin-bottom: 40px;
  display: block;
}

header h1 {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 22px 0;
  font-family: cursive, georgia, serif;
  font-size: 45px;
  font-weight: 200;
}


/*  Main */

main  .wrapper  h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

main .intro {
  font-size: 24px;
  color: #8f6484;
}

/* Groups & Items  (Mobile First) */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}


.item-double {
  flex: 2;
  margin: 20px;

}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  .group {
    flex-direction: row;
  }
}

.space {
  margin-top: 20px;
}

/* ARTICLE SECTIONS */

#home, #portfolio, #contact {
  margin-bottom: 120px;
}

/* ABOUT ARTICLE */

#about {
  background-color: #8f648433;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}
